# IS 362 Project 2
## By Alexaner Doler and Jake Kwok
### Dataset on violence statistics in New York. The CSV was obtained from data.gov

In [12]:
import pandas as pd
import numpy as np
import decimal

**reading the dataset**

In [13]:
violence = pd.read_csv('violence.csv')
violence.head()

,County,Year,Population,Index_Count,Index_Rate,Violent_Count,Violent_Rate,Property_Count,Property_Rate,Firearm_Count,Firearm_Rate
0,Albany,2015,308613.0,8367,2711.2,1008,326.6,7359,2384.5,112.0,36.3
1,Albany,2014,308166.0,9159,2972.1,995,322.9,8164,2649.2,146.0,47.4
2,Albany,2013,306300.0,9453,3086.2,1002,327.1,8451,2759.1,150.0,49.0
3,Albany,2012,305204.0,9972,3267.3,1012,331.6,8960,2935.7,137.0,44.9
4,Albany,2011,305571.0,10725,3509.8,1163,380.6,9562,3129.2,196.0,64.1

**Using Melt**
Implemented Melt again to reshape the orignally read csv

In [14]:
formatted_df = pd.melt(violence,
                       ["County", "Year", "Population"],
                       var_name="Violent_Count", 
                       value_name="Total")
formatted_df = formatted_df.sort_values(by=["County"])
formatted_df.head(10)

      County  Year  Population Violent_Count   Total
0     Albany  2015    308613.0   Index_Count  8367.0
4861  Albany  1990    292594.0  Violent_Rate   520.9
4860  Albany  1991    294030.0  Violent_Rate   569.3
4859  Albany  1992    295018.0  Violent_Rate   538.3
4858  Albany  1993    294302.0  Violent_Rate   567.1
4857  Albany  1994    293843.0  Violent_Rate   602.7
4856  Albany  1995    290756.0  Violent_Rate   552.4
4855  Albany  1996    291536.0  Violent_Rate   483.0
4854  Albany  1997    290760.0  Violent_Rate   498.7
4853  Albany  1998    294930.0  Violent_Rate   444.2

**using the power of shape**

I tried using the power of stack() to get the similar long style results of Melt. In adition, I tried to store the data
to where the violent count could be looked at from the year 2015. i added the random int to do search for the data in a 365
day year.

In [15]:
# simulate your data using stack()
columns = ['Violent_Count' + str(x) for x in np.arange(1, 1000, 1)]
sim_2015 = pd.DataFrame(np.random.randn(365, 999), index=pd.date_range('2015', periods=365, freq='D'), columns=columns)

processed_sim_2015 = sim_2015.stack().reset_index()
processed_sim_2015.columns = ['Year', 'Violent_Count', 'Total']
processed_sim_2015

             Year     Violent_Count     Total
0      2015-01-01    Violent_Count1  1.070720
1      2015-01-01    Violent_Count2  1.662835
2      2015-01-01    Violent_Count3 -0.423960
3      2015-01-01    Violent_Count4  0.322034
4      2015-01-01    Violent_Count5  2.226539
5      2015-01-01    Violent_Count6 -0.366668
6      2015-01-01    Violent_Count7 -0.543889
7      2015-01-01    Violent_Count8 -0.547165
8      2015-01-01    Violent_Count9  0.352533
9      2015-01-01   Violent_Count10 -1.039378
10     2015-01-01   Violent_Count11  0.541028
11     2015-01-01   Violent_Count12  0.384965
12     2015-01-01   Violent_Count13 -1.571888
13     2015-01-01   Violent_Count14  0.554700
14     2015-01-01   Violent_Count15  1.150478
15     2015-01-01   Violent_Count16 -0.655983
16     2015-01-01   Violent_Count17  0.018101
17     2015-01-01   Violent_Count18 -0.647727
18     2015-01-01   Violent_Count19 -0.875908
19     2015-01-01   Violent_Count20  1.829836
20     2015-01-01   Violent_Count21 -1.125377
21     2015-01-01   Violent_Count22  0.435070
22     2015-01-01   Violent_Count23  0.024083
23     2015-01-01   Violent_Count24  0.163747
24     2015-01-01   Violent_Count25 -0.457542
25     2015-01-01   Violent_Count26  0.252545
26     2015-01-01   Violent_Count27 -0.349399
27     2015-01-01   Violent_Count28 -0.779917
28     2015-01-01   Violent_Count29 -1.125883
29     2015-01-01   Violent_Count30 -0.606194
...           ...               ...       ...
364605 2015-12-31  Violent_Count970 -0.374676
364606 2015-12-31  Violent_Count971 -0.384826
364607 2015-12-31  Violent_Count972 -0.214716
364608 2015-12-31  Violent_Count973 -1.295968
364609 2015-12-31  Violent_Count974  2.338875
364610 2015-12-31  Violent_Count975 -0.855726
364611 2015-12-31  Violent_Count976  0.736736
364612 2015-12-31  Violent_Count977  0.246723
364613 2015-12-31  Violent_Count978  0.449968
364614 2015-12-31  Violent_Count979  0.724533
364615 2015-12-31  Violent_Count980 -1.213108
364616 2015-12-31  Violent_Count981  0.598886
364617 2015-12-31  Violent_Count982  0.878409
364618 2015-12-31  Violent_Count983 -0.593157
364619 2015-12-31  Violent_Count984  0.254561
364620 2015-12-31  Violent_Count985 -0.370496
364621 2015-12-31  Violent_Count986 -0.375391
364622 2015-12-31  Violent_Count987 -1.057328
364623 2015-12-31  Violent_Count988 -0.278693
364624 2015-12-31  Violent_Count989 -1.238020
364625 2015-12-31  Violent_Count990 -0.264937
364626 2015-12-31  Violent_Count991 -0.543472
364627 2015-12-31  Violent_Count992 -1.449995
364628 2015-12-31  Violent_Count993  1.494522
364629 2015-12-31  Violent_Count994 -1.057793
364630 2015-12-31  Violent_Count995 -1.050828
364631 2015-12-31  Violent_Count996 -1.459733
364632 2015-12-31  Violent_Count997 -1.015971
364633 2015-12-31  Violent_Count998 -1.912488
364634 2015-12-31  Violent_Count999  1.518322

[364635 rows x 3 columns]